.anyButton{
 background-color: #FF9900;
 border-radius: 10px;
 font-size: 20px;
 color: white;
 text-decoration: none;
 font-weight: 900;
 padding: 3px;
 box-shadow: 3px 3px 0px 0px #CCCCCC;
 transition: 0.3s;
 margin: 0px 0px 0px 0px;
 display: inline-block;
border: 2px #00994E solid;
 width: auto;
}
.anyButton:hover{
background-color: white;
color: #FF9900;
}
.anyButton:active{
 margin: 0px 0px;
 box-shadow: 0px 0px 0px 0px;
}
details{
 background-color: #DFDFDF;
 border-radius: 10px;
}
h2{
 bottom: 5px;
 border-bottom: 4px solid #FF9900;
}
h3{
 padding: 5px;
 border: 2px solid #FF9900;
 background-color: #FFD88B;
}
